h1 {
  text-decoration-style: bold;
  text-decoration-style: underline
}

p {
font-family:"Arial";
}

font-d {
font-family:"Calibri";
font-size:14pt;
}

#head-table {
border-color:lightgrey;
text-decoration: none;
}

#head-table th {
text-align:middle;
}	

#head-table tr {
	background-color:lightgrey;
}

#head-table td{
width:20%;
}

/*
#head-table a:visited, #head-table a:hover, #head-table a:active,#head-table a:link {
  color: #000;
  text-decoration: none;
  font-family:"Arial";
  font-size:14pt;
}
*/

#login, #signup {
border-radius: 12px;
background-color:blue;
}

#login a, #signup  a{
color:white;
text-decoration:none;
}

code {font-family:Courier;}

table {
    border-collapse: collapse;
	table-layout: auto
}

table, th, td {
    border: 1px solid black;
}

tr:hover {background-color: #f5f5f5

ulist li:before {
  content: '✓';
} /*Site History lists */

#footer {
	background-color:lightblue;
}